@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');
.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}

.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}



/*Assignations Labels/Buttons*/

/* Apply fonts to labels and buttons */
.label {
  -fx-font-family: "Rowdies", sans-serif;
}

.button {
  -fx-font-family: "Pangolin", cursive;
  -fx-font-size: 14px; /* Change the font size to your desired value */
  -fx-background-color: #A53C4A; /* Change the background color to your desired color */
  -fx-text-fill: white;
  -fx-border-color: rgba(0,0,0,0.5); /* Set the color of the border */
  -fx-border-width: 0px 0px 1.5px 0px; /* Set the thickness of the border */
}

.alert {
    -fx-font-family: "Pangolin", cursive;
}


/*
#tittleScreenLabel{
    -fx-fonts-family: rowdies-regular;
    -fx-font-family: "Rowdies", sans-serif;
    -fx-font-size: 30;
}

#seeHistoryButton{
    -fx-fonts-family: pangolin-normal;
    -fx-font-family: "Pangolin", cursive;
}
*/

/* Extra stuff*/
#resultTitle{
    -fx-font-family: roboto-bold;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 700;
}

#alerts1{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 700;
}

#alerts2{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 700;
}

#textField1{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 400;
    -fx-font-size: 50;
    -fx-text-fill: white;
}


#textField2{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 400;
    -fx-font-size: 50;
    -fx-text-fill: white;
}